<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="icon" type="image/x-icon" href="C:\Proyectoapp\SRC\dist\img\icono.png">
    <link rel="stylesheet" href="../Proyectoapp/tareaspe.html">
</head>
<body>
    <style>
        body {
            background: #00ffea8c;
        }

    </style>
    <center><img src=""  alt=""></center>
    <h2>Todas las tareas</h2>
<nav>
    <ul>
    <li><a href="C:\Proyectoapp\SRC\templates\tareas asignadas.html">
        Tareas asignadas
    </a></li>

    <li><a href="C:\Proyectoapp\SRC\templates\taras pendientes.html">
        Tareas pendientes
    </a></li>

    <li><a href="C:\Proyectoapp\SRC\templates\tareas realizadas.html">
        Tareas realizadas
    </a></li>

    <li><a href="C:\Proyectoapp\SRC\templates\tareas entregadas.html">
        Tareas Entregadas
    </a></li>
    </ul>
</nav>
</div>
</body>
</html>