<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="C:\Proyectoapp\SRC\dist\img\icono.png">
    <title>Realizadas</title>
</head>
<body>
   <style>
        body {
            background: #8c00ff8c;
        }

    </style>
        <table border>
            <caption>
                
            </caption>
            <tbody>
                <tr>
                    <th>TAREAS REALIZADAS</th><br>
                    
                </tr>
            </tbody>
        </table border>
        <div style="margin-top: 5px;">
            <label for="avatar"><strong>Agregue su tarea realizada</strong></label>
            <input type="file" name="avatar" id="avatar">
    </div>
      <p>Aun no se encuentran las tareas realizadas </p>
   
</body>
</html>